
@import url(//db.onlinewebfonts.com/c/4c4c08af466e9ad071b6d69cf44093df?family=Saol+Display+Regular);

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Mea+Culpa&display=swap');

.bottom{
    font-family:  Saol Display Regular;
}
body {
   background-color: white;
   font-family:  Saol Display Regular;
}

.navbar{
    background-color: white;
}

.navbar a{
    color: black;
    font-family:  Saol Display Regular;

}

a{
    text-decoration: none;
    color: black !important;
}
main{
    font-family:  Saol Display Regular;
}


/* .node--current_user_is_owner{
    background-color:red;
} */

.imgstyle{
    background-color: grey;
}

.bottom{
    position: absolute;
    bottom: 200px;
    left:450px;
    background-color: black;
    color:white;
    
}

.region-panel1 .views-col{ 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 100px;
    grid-column-gap: 40px;
 
}

.region-panel1 .views-field-title  {
  
    align-self: center;
    white-space: pre-wrap;
    font-size: 35px;
    font-family:  Saol Display Regular;
 }
 .region-panel1 .views-field-title .field-content a{
     color:black ;
     text-decoration: none;
     color: black;
 }

 .region-panel1 .views-field-field-author{
    margin-left: 150px;
    margin-top: 120px;
}



.region-panel2 .views-field-title .field-content a{
   
    
   
   font-size: 15px;
   text-decoration: none;
   color: black;
 }

 



.region-newsandpolitics .views-col{ 
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 100px;
        grid-column-gap: 40px;
}
.region-newsandpolitics .views-field-field-fashion-image{
    
}

.region-newsandpolitics .views-field-title  {
  
   align-self: center;
   white-space: pre-wrap;
   font-size: 35px;
   font-family:  Saol Display Regular;
}
.region-newsandpolitics .views-field-title .field-content a{
    color:black ;
    text-decoration: none;
    color: black;
}

.region-newsandpolitics .views-field-field-author{
    margin-left: 150px;
    margin-top: 120px;
}

.region-video .views-field-title a{
    align-self: center;
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-family:  Saol Display Regular;
}

.region-footer-first{
    background-color: black;
    color:white;
    
}

#block-f1{
    margin-top: 20px;
    margin-left: 100px;
    
   display: flex;
   flex-direction: row;
}

.field--type-fontawesome-icon{
    margin-left: 20px;
}

#block-ellefooter{
    background-color: black ;
    color: white;
    font-family: 'Lora', serif;
    font-size: 13px;
}

.field--name-field-icon1{
    margin-top: 15px;
}
.field--name-field-icon2{
    margin-top: 15px;
}
.field--name-field-icon3{
    margin-top: 15px;
}
.field--name-field-icon4{
    margin-top: 15px;
}
.field--name-field-icon5{
    margin-top: 15px;
}

.region-footer-mini1{
    background-color: black;
}

.region-footer-mini1 a{
    color: white !important;
}

.region-footer-mini2{
    background-color: black;
}

.region-footer-mini2 a{
    color: white !important;
}

.region-footer-mini3{
    background-color: black;
}

.region-footer-mini3 a{
    color: white !important;
}

.region-footer-mini4{
    background-color: black;
}

.region-footer-mini4 a{
    color: white !important;
}

.test{
    background-color: black;
    color: white;
}

.region-footer-first{
    background-color: black;
}

.region-footer-second{
    background-color: black;
    color: white;
}

.footer-second .row{
    background-color: black;
}

$toggleSize: 40px;
$toggleMargin: 10px;
$toggleLine: 4px;
$toggleColor: black;

.nav-container {
  position: relative;
  display: inline-block;
  max-width: $toggleSize + $toggleMargin;
  max-height: $toggleSize + $toggleMargin;
  overflow: visible;
  outline: none;
  background-color:white;
  
  //&:focus-within, &:focus {
  &.is-active {
    .nav-toggle {
      &:before, &:after {
        box-shadow: none;
      }
      
      &:before {
        transform: rotate(-45deg);
      }
      
      &:after {
        transform: rotate(45deg);
      }
    }
    
    .nav-items {
      transform: translate(0, 0);
    }
  }
  
  .nav-toggle {
    $offset: $toggleSize * 0.5;
    
    position: relative;
    width: $toggleSize;
    height: $toggleSize;
    margin: $toggleMargin;
    z-index: 2;
    
    &:hover {
      cursor: pointer;
    }
      
    &:before, &:after {
      content: "";
      position: absolute;
      top: #{$offset - $toggleLine / 2};
      left: 0;
      transform: translate(0, 0);
      width: 100%;
      height: $toggleLine;
      background: $toggleColor;
      transition: transform .3s ease, box-shadow .3s ease;
    }
    
    &:before {
      box-shadow: 0 #{$offset / 1.5} 0 0 $toggleColor;
    }
    
    &:after {
      box-shadow: 0 #{-$offset / 1.5} 0 0 $toggleColor;
    }
  }
  
  .nav-items {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 300px;
    max-width: 15vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding: 80px 20px 20px 10px;
    transition: transform .3s ease;
    transform: translate(calc(-100% - 50px), 0);
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px 0;
    align-content: start;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    
    .nav-item {
     text-decoration:none;
      color:black;
      padding: 10px;
      transition: background-color .3s ease;
      
      &:hover {
        cursor: pointer;
        background: darken(#EFEFEF, 10%);
      }
    }
  }
}
