@import url(//db.onlinewebfonts.com/c/4c4c08af466e9ad071b6d69cf44093df?family=Saol+Display+Regular);
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Mea+Culpa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.navbar a {
  color: black;
  font-family: Saol Display Regular;
}

.content-beauty {
  position: absolute;
  top: 240px;
  left: 76px;
  z-index: 1;
  font-family: Saol Display Regular;
  font-size: 110px;
  color: white;
}

.container a {
  text-decoration: none;
  color: black !important;
}

a {
  text-decoration: none !important;
}

.col-md-4 {
  margin-right: -40px !important;
}

.col-md-5 {
  width: 30% !important;
}

.textstyle {
  font-size: 80px;
  font-family: Saol Display Regular;
}

.textstyle-font2 {
  font-size: 30px;
  font-family: Saol Display Regular;
}

.textstyle-font3 {
  font-size: 29px;
  font-family: Saol Display Regular;
}

.text-cursive {
  font-style: italic;
  font-size: 35px;
  font-weight: 500;
}

.main-container {
  font-family: Saol Display Regular;
}

.region-panel2 {
  text-align: center;
}
.region-panel2 .views-field-field-main-description {
  padding-top: 20px;
  padding-left: 6px;
}
.region-panel2 .views-field-field-main-description p {
  font-family: Saol Display Regular;
  font-size: 37px;
  text-align: center;
  font-weight: 230;
}
.region-panel2 .views-field-field-brief-description {
  font-size: 20px;
  padding-bottom: 12px;
}
.region-panel2 .views-field-field-author {
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
}

.region-panel1 .views-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px;
  grid-column-gap: 80px;
}

.panel1 {
  height: 100vh;
}

.region-panel1 .views-field-title {
  text-align: center;
  align-self: center;
  white-space: pre-wrap;
  font-size: 46px;
  font-family: Saol Display Regular;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 100px;
}

.region-panel1 .views-field-field-description {
  margin-left: 40px;
  margin-right: 7px;
  margin-top: -105px;
  font-size: 20px;
  text-align: center;
}

.region-panel1 .views-field-field-fashion-image img {
  width: 600px;
  height: auto;
}

.region-panel1 .views-field-title .field-content a {
  color: black;
  text-decoration: none;
  color: black;
}

.region-panel1 .views-field-field-author {
  padding-top: 320px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.region-panel1 .views-field-field-brief {
  margin-left: -1205px;
  margin-top: -50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 1;
  letter-spacing: 0.1em;
}

.region-panel2 .views-field-title .field-content a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.fillColor {
  background-color: black;
  margin-right: 10px;
  height: 3vh;
}

.region-viewstylepoints .views-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
.region-viewstylepoints .views-row .views-field-field-fashion-image {
  padding-right: 10px;
}
.region-viewstylepoints .views-row .views-field-title {
  padding-top: 30px;
}
.region-viewstylepoints .views-row .views-field-title a {
  font-size: 18px;
}
.region-viewstylepoints .views-row .views-field-field-author {
  position: absolute;
  padding-left: 165px;
  margin-top: 90px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
}

.region-viewbeauty1 .views-field-title {
  margin-top: 10px;
}
.region-viewbeauty1 .views-field-title a {
  font-family: Saol Display Regular;
  font-size: 30px;
}

.region-viewculture .views-field-title {
  margin-top: 10px;
  text-align: center;
}
.region-viewculture .views-field-title a {
  font-family: Saol Display Regular;
  font-size: 30px;
}

.region-viewculture2 .views-field-title a {
  font-family: Saol Display Regular;
  font-size: 16px;
}

.region-viewbeauty2 .views-field-title a {
  font-family: Saol Display Regular;
  font-size: 16px;
}

.region-viewgiftguides .views-field-title a {
  font-size: 16px;
}

.region-viewofficehours .views-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
.region-viewofficehours .views-row .views-field-field-fashion-image {
  padding-right: 10px;
}
.region-viewofficehours .views-row .views-field-title {
  padding-top: 30px;
}
.region-viewofficehours .views-row .views-field-title a {
  font-size: 18px;
}
.region-viewofficehours .views-row .views-field-field-author {
  position: absolute;
  padding-left: 165px;
  margin-top: 90px;
}
.region-viewofficehours .views-row .views-field-field-author a {
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
}

.region-newsandpolitics .views-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
  grid-column-gap: 40px;
  text-align: center;
}

.region-newsandpolitics .views-field-title {
  align-self: center;
  white-space: pre-wrap;
  font-size: 46px;
  font-family: Saol Display Regular;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 100px;
}

.region-newsandpolitics .views-field-title .field-content a {
  color: black;
  text-decoration: none;
  color: black;
}

.region-newsandpolitics .views-field-field-author {
  padding-top: 320px;
  font-family: NeueHaasUnica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  font-weight: 300;
  text-transform: uppercase;
}

.region-newsandpolitics .views-field-field-fashion-image img {
  width: 600px;
  height: auto;
}

.region-viewclothes .views-field-title a {
  font-weight: bold;
  color: black;
}
.region-viewclothes .views-field-field-fashion-image img {
  width: 300px;
  height: auto;
}

.region-video .views-field-title {
  text-align: center;
}
.region-video .views-field-title a {
  text-decoration: none;
  color: black;
  font-size: 35px;
  font-family: Saol Display Regular;
  text-align: center;
}
.region-video .views-field-field-description {
  text-align: center;
}
.region-video .views-field-field-description .field-content {
  text-decoration: none;
  color: black;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 1;
  letter-spacing: 0.1em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.region-video video {
  width: 100% !important;
  height: auto !important;
}

.region-footer-first {
  background-color: black;
  color: white;
  height: 85px;
}

#block-f1 .field--type-fontawesome-icon {
  margin-top: 48px;
}

.footer {
  background-color: black;
  margin-left: 90px;
}

#block-f1 {
  display: flex;
  flex-direction: row;
}

.field--type-fontawesome-icon {
  margin-left: 30px;
}

.footer-mini .col-md-3 {
  margin-right: -37px !important;
}

#block-ellefooter-2 p {
  font-size: 12px;
}

.region-footer-mini1 {
  background-color: black;
}

.region-footer-mini1 a {
  color: white !important;
  line-height: 2.9;
  font-size: 11px;
  font-weight: bolder;
}

.region-footer-mini2 {
  background-color: black;
}

.region-footer-mini2 a {
  color: white !important;
  line-height: 3;
  font-size: 11px;
  font-weight: bolder;
}

.region-footer-mini3 {
  background-color: black;
}

.region-footer-mini3 a {
  color: white !important;
  line-height: 3;
  font-size: 11px;
  font-weight: bolder;
}

.region-footer-mini4 {
  background-color: black;
}

.region-footer-mini4 a {
  color: white !important;
  line-height: 3;
  font-size: 11px;
  font-weight: bolder;
}

.region-footer-first {
  background-color: black;
}

.region-footer-second {
  background-color: black;
  color: white;
}

.footer-second .row {
  background-color: black;
}

.region-footer-second #block-ellefooter-2 p {
  font-weight: bold;
}

.beauty .row {
  display: flex;
  /* establish flex container */
  flex-direction: row;
  /* make main axis vertical */
  justify-content: center;
}

.culture .row {
  display: flex;
  /* establish flex container */
  flex-direction: row;
  /* make main axis vertical */
  justify-content: center;
}

.region-viewbeauty1 .views-field-title {
  text-align: center;
}
.region-viewbeauty1 .views-field-field-author {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 10px;
}

.region-viewbeauty2 .views-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
.region-viewbeauty2 .views-row .views-field-field-fashion-image {
  padding-right: 10px;
}
.region-viewbeauty2 .views-row .views-field-title {
  padding-top: 20px;
}
.region-viewbeauty2 .views-row .views-field-field-author {
  position: absolute;
  margin-top: 75px;
  margin-left: 128px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

.region-viewculture2 .views-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
.region-viewculture2 .views-row .views-field-field-fashion-image {
  padding-right: 10px;
}
.region-viewculture2 .views-row .views-field-title {
  padding-top: 20px;
}

.region-viewclothes .views-field-field-fashion-image img {
  padding-right: 35px;
}
.region-viewclothes .views-field-title {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
.region-viewclothes .views-field-title a {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.region-trending .views-field-field-fashion-image img {
  padding-right: 40px !important;
}
.region-trending .views-field-title {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 20px;
}
.region-trending .views-field-title a {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
}

#block-ellefooter-2 {
  margin-left: 27px;
}
#block-ellefooter-2 p {
  line-height: 2.5;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

@media (min-width: 375px) and (max-width: 812px) {
  .region-panel1 .views-col {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 80px;
  }

  .region-newsandpolitics .views-col {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 80px;
  }

  .beauty .row {
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* make main axis vertical */
    justify-content: center;
  }

  .culture.row {
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* make main axis vertical */
    justify-content: center;
  }

  .views-field-field-banner-image img {
    width: 100%;
    height: auto;
  }

  .region-video video {
    width: 100%;
    height: auto;
  }

  .region-newsandpolitics img {
    width: 100%;
    height: auto;
  }

  .region-viewbeauty1 img {
    width: 100%;
    height: auto;
  }

  .region-panel2 img {
    width: 100%;
    height: auto;
  }

  .region-panel1 img {
    width: 100%;
    height: auto;
  }

  .region-viewstylepoints img {
    width: 100%;
    height: auto;
  }

  .region-viewofficehours .views-col {
    width: 100% !important;
  }
  .region-viewofficehours img {
    width: 100%;
    height: auto;
  }

  .region-viewgiftguides .views-col {
    width: 100% !important;
  }
  .region-viewgiftguides img {
    width: 100%;
    height: auto;
  }

  .region-viewclothes .views-col {
    width: 100% !important;
  }
  .region-viewclothes img {
    width: 100%;
    height: auto;
  }

  .panel1 {
    height: 0vh !important;
  }

  .region-viewculture img {
    width: 100%;
    height: auto;
  }

  .region-trending .views-col {
    width: 100% !important;
  }
  .region-trending img {
    width: 100%;
    height: auto;
  }

  .region-panel1 .views-field-field-author {
    margin-left: 0px;
    margin-top: 0px;
  }

  .region-primary-menu ul {
    margin-left: 75px !important;
  }
  .region-primary-menu li a {
    color: red !important;
  }

  .region-newsandpolitics .views-field-field-author {
    margin-left: 0px;
    margin-top: 0px;
  }

  .region-header .views-col {
    width: 100% !important;
  }
  .region-header .views-col .views-field-field-banner-image img {
    width: 375px !important;
    height: auto !important;
  }

  .content-beauty {
    position: absolute;
    top: 130px;
    left: 26px;
    z-index: 1;
    font-family: Saol Display Regular;
    font-size: 30px;
    color: white;
  }

  .footer-awesome-icons {
    margin-right: 120px !important;
  }
}
.nav-con {
  position: relative;
  display: inline-block;
  max-width: 30px;
  max-height: 30px;
  overflow: visible;
  outline: none;
  background-color: white;
}
.nav-con.is-active .nav-toggle1:before, .nav-con.is-active .nav-toggle1:after {
  box-shadow: none;
}
.nav-con.is-active .nav-toggle1:before {
  transform: rotate(-45deg);
}
.nav-con.is-active .nav-toggle1:after {
  transform: rotate(45deg);
}
.nav-con.is-active .nav-items1 {
  transform: translate(0, 0);
}
.nav-con .nav-toggle1 {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 10px;
  z-index: 2;
}
.nav-con .nav-toggle1:hover {
  cursor: pointer;
}
.nav-con .nav-toggle1:before, .nav-con .nav-toggle1:after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 2px;
  background: black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.nav-con .nav-toggle1:before {
  box-shadow: 0 6.6666666667px 0 0 black;
}
.nav-con .nav-toggle1:after {
  box-shadow: 0 -6.6666666667px 0 0 black;
}
.nav-con .nav-items1 {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 300px;
  max-width: 15vw;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 80px 20px 20px 10px;
  transition: transform 0.3s ease;
  transform: translate(calc(-100% - 50px), 0);
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px 0;
  align-content: start;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
.nav-con .nav-items1 .nav-item1 {
  text-decoration: none;
  color: black;
  padding: 10px;
  transition: background-color 0.3s ease;
}
.nav-con .nav-items1 .nav-item1:hover {
  cursor: pointer;
  background: #d6d6d6;
}