
.navbar a {
  color: black;
  font-family: Saol Display Regular;
}

.content-beauty{
  position: absolute;
  top: 240px;
  left: 76px;
  z-index:1;
  font-family: Saol Display Regular;
  font-size: 110px;
  color:$white;
}